[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s ilmari -d
ExecStop=/usr/bin/tmux kill-session -t ilmari

[Install]
WantedBy=default.target
