[user]
    name = Ilmari Autio
    email = ilmari.autio@gmail.com

[push]
    default = simple
    autoSetupRemote = true

[merge]
    log = true # Include the summary of merged commits into all newly created merge commits.
    stat = true # Show merge statistics after merge.

[diff]
    indentHeuristic = on

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[alias]
    #one-line log
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --color-words
    graph = log --graph --oneline
 
    a = add
    c = commit -v
    ca = commit -v -a
    ci = commit -v --interactive
    cm = commit -v -a -m
    m = commit -v --amend

    uncommit = reset HEAD^ 
    hard = reset --hard @{upstream} 
   
    d = diff --color-words
    du = diff HEAD @{upstream} --color-words
    ds = diff --stat --color-words
    dc = diff --cached --color-words
  
    s = status -s -b
    co = checkout
    b = branch

    # list branches sorted by last modified
    ba = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
  
    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"

[core]
    editor = vim
    autocrlf = input

[pull]
	ff = only
