[user]
    name = Ilmari Autio
    email = ilmari.autio@gmail.com

[push]
    default = simple

[merge]
    log = true # Include the summary of merged commits into all newly created merge commits.
    stat = true # Show merge statistics after merge.

[diff]
    indentHeuristic = on

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[alias]
    #one-line log
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    graph = log --graph --oneline
 
    a = add
    aa = add --all
    c = commit --verbose
    cc = commit
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m
    m = commit --amend --verbose
   
    d = diff
    ds = diff --stat
    dc = diff --cached
  
    s = status -s -b
    co = checkout
    b = branch

    # list branches sorted by last modified
    ba = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
  
    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"

[core]
    editor = kak
