[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ilmari/Desktop/Home.desktop]
row=4
col=0

[bee4bad1-fcd4-4316-9010-6a77721fcfd1]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/ilmari]
row=3
col=0

